* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.entire {
  width: 100%;
  height: 1001px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.header {
  width: 100%;
  height: 86px;
  opacity: 1;
  filter: drop-shadow(0 0 0.15rem grey);
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.headerbox {
  width: 100%;
  height: 86px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.headertitle {
  width: 138px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 80px;
  font-family: Futura;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.dropdown1 {
  width: 378px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 900px;
  font-family: Gotham;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.dropdown2 {
  width: 378px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 1030px;
  font-family: Gotham;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.dropdown3 {
  width: 378px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 1200px;
  font-family: Gotham;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_12 {
  width: 477px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 174px;
  left: 231px;
  font-family: Gotham;
  font-weight: Medium;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v3_25 {
  width: 875px;
  height: 284px;
  background: url("../images/v3_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 236px;
  left: 282px;
  overflow: hidden;
}
.v3_13 {
  width: 875px;
  height: 284px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v3_15 {
  width: 361px;
  height: 42px;
  background: rgba(243,185,131,1);
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 41px;
}
.v3_16 {
  width: 254px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 215px;
  left: 97px;
  font-family: Gotham;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_22 {
  width: 361px;
  height: 42px;
  background: rgba(243,185,131,1);
  opacity: 1;
  position: absolute;
  top: 205px;
  left: 473px;
}
.v3_23 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 215px;
  left: 585px;
  font-family: Gotham;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_21 {
  width: 220px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 41px;
  left: 61px;
  font-family: Gotham;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_24 {
  width: 758px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 61px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_26 {
  width: 875px;
  height: 256px;
  opacity: 1;
  position: absolute;
  filter: drop-shadow(1 0 0.15rem grey);
  top: 584px;
  left: 284px;
  overflow: hidden;
}
.v3_27 {
  width: 875px;
  height: 256px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v3_28 {
  width: 361px;
  height: 42px;
  background: rgba(243,185,131,1);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 41px;
}
.v3_29 {
  width: 254px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 191px;
  left: 95px;
  font-family: Gotham;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_30 {
  width: 361px;
  height: 42px;
  background: rgba(243,185,131,1);
  opacity: 1;
  position: absolute;
  top: 181px;
  left: 473px;
}
.v3_31 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 191px;
  left: 583px;
  font-family: Gotham;
  font-weight: Medium;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v3_32 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 41px;
  left: 61px;
  font-family: Gotham;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v3_33 {
  width: 758px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 79px;
  left: 61px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
